{% extends 'base.html' %}

{% block title %} All Player Stats {% endblock title %}

{% block head %}<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>{% endblock head %}

{% block content %}


<h1>Total Statistics</h1>

<hr>

<table class="table table-striped">
<caption>All Stats</caption>
<thead>
	<tr>
		<td></td>
		<th><h2>{{corey.name}}</h2></th>
		<th><h2>{{tyler.name}}</h2></th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>Total holes</th>
		<td>{{corey_holes}}</td>
		<td>{{tyler_holes}}</td>
	</tr>
	<tr>
		<th>Avg Score (9 holes)</th>
		<td>+{{corey_average_score}}</td>
		<td>+{{tyler_average_score}}</td>
	</tr>
	<tr>
		<th>Avg Hole</th>
		<td>{{corey_average_hole}}</td>
		<td>{{tyler_average_hole}}</td>
	</tr>
	<tr>
		<th>Aces</th>
		<td>{{corey_aces}}</td>
		<td>{{tyler_aces}}</td>
	</tr>
	<tr>
		<th>Birdies</th>
		<td>{{corey_birdies}}</td>
		<td>{{tyler_birdies}}</td>
	</tr>
	<tr>
		<th>Pars</th>
		<td>{{corey_pars}}</td>
		<td>{{tyler_pars}}</td>
	</tr>
	</tr>
		<th>Bogies</th>
		<td>{{corey_bogies}}</td>
		<td>{{tyler_bogies}}</td>
	</tr>
	</tr>
		<th>Doubles</th>
		<td>{{corey_doubles}}</td>
		<td>{{tyler_doubles}}</td>
	</tr>
	<tr>
		<th>Trips (>=)</th>
		<td>{{corey_trips_and_above}}</td>
		<td>{{tyler_trips_and_above}}</td>
	</tr>
</tbody>
</table>


<br>


<h2>Indian Tree</h2>

<table id="myTable" class="table table-striped">
<caption>Hole by hole</caption>
<thead>
	<tr>
		<th></th>
		<th><h2>{{corey.name}}</h2></th>
		<th><h2>{{tyler.name}}</h2></th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>One</th>
		<td>{{corey_one_avg}}</td>
		<td>{{tyler_one_avg}}</td>
	</tr>
	<tr>
		<th>Two</th>
		<td>{{corey_two_avg}}</td>
		<td>{{tyler_two_avg}}</td>
	</tr>
	<tr>
		<th>Three</th>
		<td>{{corey_three_avg}}</td>
		<td>{{tyler_three_avg}}</td>
	</tr>
	<tr>
		<th>Four</th>
		<td>{{corey_four_avg}}</td>
		<td>{{tyler_four_avg}}</td>
	</tr>
	<tr>
		<th>Five</th>
		<td>{{corey_five_avg}}</td>
		<td>{{tyler_five_avg}}</td>
	</tr>
	</tr>
		<th>Six</th>
		<td>{{corey_six_avg}}</td>
		<td>{{tyler_six_avg}}</td>
	</tr>
	</tr>
		<th>Seven</th>
		<td>{{corey_seven_avg}}</td>
		<td>{{tyler_seven_avg}}</td>
	</tr>
	<tr>
		<th>Eight</th>
		<td>{{corey_eight_avg}}</td>
		<td>{{tyler_eight_avg}}</td>
	</tr>
	<tr>
		<th>Nine</th>
		<td>{{corey_nine_avg}}</td>
		<td>{{tyler_nine_avg}}</td>
	</tr>
</tbody>
</table>

<h2>Hyland Hills South</h2>

<table id="myTable" class="table table-striped" >
	<tr>
		<td></td>
		<th><h2>{{corey.name}}</h2></th>
		<th><h2>{{tyler.name}}</h2></th>
	</tr>
	<tr>
		<th>One</th>
		{% for uno in one %}
		<td>{{uno.mean_one}}</td>
		{% endfor %}
	</tr>



</table>

{% endblock content %}










