{% extends 'base.html' %}

{% block title %} Holes {% endblock title %}


{% block content %}

<h1>Holes</h1>

<hr>

<h2> {% for course in corey_rounds|slice:":1" %} {{course.course.name}} {% endfor %} </h2>


<i><h3>One</h3></i>

<table border="1">
	<tr>
		<th>Player</th>
		<th>Aces</th>
		<th>Birdies</th>
		<th>Pars</th>
		<th>Bogies</th>
		<th>Doubles</th>
		<th>Trips (>=)</th>
	</tr>

	<tr>
		<th>Corey</th>
		<td>{{cm_one_aces}}</td>
		<td>{{cm_one_birdies}}</td>
		<td>{{cm_one_pars}}</td>
		<td>{{cm_one_bogies}}</td>
		<td>{{cm_one_doubles}}</td>
		<td>{{cm_one_trips}}</td>
	</tr>
	<tr>
		<th>Tyler</th>
		<td>{{td_one_aces}}</td>
		<td>{{td_one_birdies}}</td>
		<td>{{td_one_pars}}</td>
		<td>{{td_one_bogies}}</td>
		<td>{{td_one_doubles}}</td>
		<td>{{td_one_trips}}</td>
	</tr>
</table>

<br>


<i><h3>Two</h3></i>

<table border="1">
	<tr>
		<th>Player</th>
		<th>Aces</th>
		<th>Birdies</th>
		<th>Pars</th>
		<th>Bogies</th>
		<th>Doubles</th>
		<th>Trips (>=)</th>
	</tr>
	<tr>
		<th>Corey</th>
		<td>{{cm_two_aces}}</td>
		<td>{{cm_two_birdies}}</td>
		<td>{{cm_two_pars}}</td>
		<td>{{cm_two_bogies}}</td>
		<td>{{cm_two_doubles}}</td>
		<td>{{cm_two_trips}}</td>
	</tr>
	<tr>
		<th>Tyler</th>
		<td>{{td_two_aces}}</td>
		<td>{{td_two_birdies}}</td>
		<td>{{td_two_pars}}</td>
		<td>{{td_two_bogies}}</td>
		<td>{{td_two_doubles}}</td>
		<td>{{td_two_trips}}</td>
	</tr>
</table>

<br>

<i><h3>Three</h3></i>

<table border="1">
	<tr>
		<th>Player</th>
		<th>Aces</th>
		<th>Birdies</th>
		<th>Pars</th>
		<th>Bogies</th>
		<th>Doubles</th>
		<th>Trips (>=)</th>
	</tr>
	<tr>
		<th>Corey</th>
		<td>{{cm_three_aces}}</td>
		<td>{{cm_three_birdies}}</td>
		<td>{{cm_three_pars}}</td>
		<td>{{cm_three_bogies}}</td>
		<td>{{cm_three_doubles}}</td>
		<td>{{cm_three_trips}}</td>
	</tr>
	<tr>
		<th>Tyler</th>
		<td>{{td_three_aces}}</td>
		<td>{{td_three_birdies}}</td>
		<td>{{td_three_pars}}</td>
		<td>{{td_three_bogies}}</td>
		<td>{{td_three_doubles}}</td>
		<td>{{td_three_trips}}</td>
	</tr>
</table>

<br>

<i><h3>Four</h3></i>

<table border="1">
	<tr>
		<th>Player</th>
		<th>Aces</th>
		<th>Birdies</th>
		<th>Pars</th>
		<th>Bogies</th>
		<th>Doubles</th>
		<th>Trips (>=)</th>
	</tr>
	<tr>
		<th>Corey</th>
		<td>{{cm_four_aces}}</td>
		<td>{{cm_four_birdies}}</td>
		<td>{{cm_four_pars}}</td>
		<td>{{cm_four_bogies}}</td>
		<td>{{cm_four_doubles}}</td>
		<td>{{cm_four_trips}}</td>
	</tr>
	<tr>
		<th>Tyler</th>
		<td>{{td_four_aces}}</td>
		<td>{{td_four_birdies}}</td>
		<td>{{td_four_pars}}</td>
		<td>{{td_four_bogies}}</td>
		<td>{{td_four_doubles}}</td>
		<td>{{td_four_trips}}</td>
	</tr>
</table>

<br>

<i><h3>Five</h3></i>

<table border="1">
	<tr>
		<th>Player</th>
		<th>Aces</th>
		<th>Birdies</th>
		<th>Pars</th>
		<th>Bogies</th>
		<th>Doubles</th>
		<th>Trips (>=)</th>
	</tr>
	<tr>
		<th>Corey</th>
		<td>{{cm_five_aces}}</td>
		<td>{{cm_five_birdies}}</td>
		<td>{{cm_five_pars}}</td>
		<td>{{cm_five_bogies}}</td>
		<td>{{cm_five_doubles}}</td>
		<td>{{cm_five_trips}}</td>
	</tr>
	<tr>
		<th>Tyler</th>
		<td>{{td_five_aces}}</td>
		<td>{{td_five_birdies}}</td>
		<td>{{td_five_pars}}</td>
		<td>{{td_five_bogies}}</td>
		<td>{{td_five_doubles}}</td>
		<td>{{td_five_trips}}</td>
	</tr>
</table>

<br>

<i><h3>Six</h3></i>

<table border="1">
	<tr>
		<th>Player</th>
		<th>Aces</th>
		<th>Birdies</th>
		<th>Pars</th>
		<th>Bogies</th>
		<th>Doubles</th>
		<th>Trips (>=)</th>
	</tr>
	<tr>
		<th>Corey</th>
		<td>{{cm_six_aces}}</td>
		<td>{{cm_six_birdies}}</td>
		<td>{{cm_six_pars}}</td>
		<td>{{cm_six_bogies}}</td>
		<td>{{cm_six_doubles}}</td>
		<td>{{cm_six_trips}}</td>
	</tr>
	<tr>
		<th>Tyler</th>
		<td>{{td_six_aces}}</td>
		<td>{{td_six_birdies}}</td>
		<td>{{td_six_pars}}</td>
		<td>{{td_six_bogies}}</td>
		<td>{{td_six_doubles}}</td>
		<td>{{td_six_trips}}</td>
	</tr>
</table>

<br>

<i><h3>Seven</h3></i>

{% for round in all_rounds %}

{{round.seven}}

{% endfor %}


<i><h3>Eight</h3></i>

{% for round in all_rounds %}

{{round.eight}}

{% endfor %}


<i><h3>Nine</h3></i>

{% for round in all_rounds %}

{{round.nine}}

{% endfor %}


{% endblock content %}