{% extends 'base.html' %}


{% block content %}


<h1>Indian Tree - short course</h1>
<h5>Visualizations and statistics</h5>


<hr>


<i><h3>Players</h3></i>

{% for player in all_players %}

{{player.name}}

{% endfor %}

<br><br>



<i><h3>Total Matches</h3></i>

{{ all_matches.count }}

<br><br>



<i><h3>Total Rounds</h3></i>

{{ all_rounds.count }}

<br><br>



<i><h3>Average Round</h3></i>

+{{ total_average_score }}

<br><br>








<i><h3>Average Hole</h3></i>

{{ total_average_hole }}

<br><br>



<i><h3>Aces</h3></i>

{{ total_aces }}

<br><br>



<i><h3>Birdies</h3></i>

{{ total_birdies }}

<br><br>




<i><h3>Pars</h3></i>

{{ total_pars }}

<br><br>



<i><h3>Bogies</h3></i>

{{ total_bogies }}

<br><br>



<i><h3>Doubles</h3></i>

{{ total_doubles }}

<br><br>



<i><h3>Trips and above</h3></i>

{{ total_trips_and_above }}

<br><br>




<i><h3>Hole by hole average</h3></i>

<ul>
<li>One = {{ one_avg }}</li><br>
<li>Two = {{ two_avg }}</li><br>
<li>Three = {{ three_avg }}</li><br>
<li>Four = {{ four_avg }}</li><br>
<li>Five = {{ five_avg }}</li><br>
<li>Six = {{ six_avg }}</li><br>
<li>Seven = {{ seven_avg }}</li><br>
<li>Eight = {{ eight_avg }}</li><br>
<li>Nine = {{ nine_avg }}</li><br>
</ul>


<i><h3>Hardest to easiest holes</h3></i>






{% endblock content %}




