{% extends 'base.html' %}

{% block title %} {{player_name}} stats {% endblock title %}




{% block content %}


<h1>{{player_name}}</h1>

<hr>


<i><h3>Rounds Played</h3></i>

{{player_rounds_amount}}

<br><br>



<i><h3>Total Holes</h3></i>

{{ round_total }}

<br><br>


<i><h3>Match record</h3></i>

{{ math_record }}

<br><br>



<i><h3>Average Round Score (9 holes)</h3></i>

+{{player_average_score}}

<br><br>



<i><h3>Average Hole Score</h3></i>

{{ player_average_hole }}

<br><br>



<i><h3>Aces</h3></i>

{{ player_aces }}

<br><br>



<i><h3>Birdies</h3></i>

{{ player_birdies }}

<br><br>



<i><h3>Pars</h3></i>

{{ player_pars }}

<br><br>



<i><h3>Bogies</h3></i>

{{ player_bogies }}

<br><br>



<i><h3>Doubles</h3></i>

{{ player_doubles }}

<br><br>



<i><h3>Trips and above</h3></i>

{{ player_trips_and_above }}

<br><br>


<i><h3>Hole by hole average</h3></i>

<ul>
<li>One = {{ one_avg }}</li>
<li>Two = {{ two_avg }}</li>
<li>Three = {{ three_avg }}</li>
<li>Four = {{ four_avg }}</li>
<li>Five = {{ five_avg }}</li>
<li>Six = {{ six_avg }}</li>
<li>Seven = {{ seven_avg }}</li>
<li>Eight = {{ eight_avg }}</li>
<li>Nine = {{ nine_avg }}</li>
</ul>




{% endblock content %}